body {
background-color: lightblue;
/* 100% of viewport height  */
height:100vh ;
display:flex;
justify-content: center;
align-items: center;
}
#count{
  transition: transform 0.2s ease;
}
.bump{
  transform: scale(1.3);
}
h1{
  display: center;  
}
button{
  background-color: blueviolet;
  transition: background-color 0.3s ease;
    cursor:pointer
}
button:hover{
  background-color: blue;
}